.MuiFormControl-root {
    width: 100%
}

.dropzone_css {
    width: 100%;
    height: 100px;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3aa4df;
}

.dropzone_css svg {
    color: #3aa4df;
    font-size: 30px;
}