.navbar-width {
    width: 100vw;
}

.navbar {
    height: 90px;
    position: sticky;
}

.navbar-img {
    width: 150px;
    height: 30px;
}

.navbar-nav li {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.navbar-nav li a {
    font-size: var(--fs-1);
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: var(--blue-color);
}

.navbar-nav li a:hover .option-nguoidung {
    color: black;
}

.nguoidung-icon {
    font-size: 25px;
}

.nguoidung-info {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

.nguoidung-info:hover .option-nguoidung {
    display: flex;
}

.nguoidung-info_hinhAnh {
    margin-right: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #fa8c16;
    border-radius: 50%;
    text-align: center;
    padding-top: 2%;
    padding-left: 1%;
    color: white;
}

/* Pop up khi hover xử  lý các thao tác người dùng */

.option-nguoidung {
    position: absolute;
    top: 100%;
    background-color: white;
    width: 200px;
    justify-content: center;
    font-weight: normal;
    display: none;
    z-index: 10;
}

.option-nguoidung:hover {
    color: black;
}

.option-nguoidung ul {
    margin: 0;
    padding: 10px 0;
}

.option-nguoidung ul li {
    padding: 10px 0;
}

@media only screen and (max-width: 600px) {
    .navbar-collapse {
        background-color: #fff;
        width: 100%!important;
        position: absolute;
        top: 80%;
        border-radius: 10px;
    }
    .navbar-collapse {
        width: 510px!important;
    }
    .navbar-nav li {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .nguoidung-info {
        display: none;
    }
    .nguoidung-info_hinhAnh {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .iconFlex {
        display: flex;
        align-items: center;
        margin: 0;
    }
}

@media only screen and (max-width: 420px) {
    .navbar-collapse {
        width: 375px!important;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-collapse {
        width: 340px!important;
    }
}

@media only screen and (max-width: 330px) {
    .navbar-collapse {
        width: 280px!important;
    }
}